include ./templates/all.pug

doctype html
html
	head
		title Table Pug Example

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

		script(src='app.js')
	body
		.container
			h2 Table Example

			.form-group
				.row
					.col-xs-12.col-sm-7.col-md-6.col-lg-5
						p Simple search:

						+pyrite-table-input(
							id='search'
							placeholder='Search...'
							text='Search'
							color='btn-primary'
							icon='fa fa-search'
						)

			.form-group
				p Advanced search:

				.row
					.col-xs-12.col-sm-6.col-md-3
						+pyrite-table-input(
							placeholder='Username...'
							id='username'
							icon='fa fa-filter'
						)

					.col-xs-12.visible-xs.form-group

					.col-xs-12.col-sm-6.col-md-3
						+pyrite-table-input(
							placeholder='Name...'
							id='name'
							icon='fa fa-filter'
						)

					.col-xs-12.visible-xs.visible-sm.form-group

					.col-xs-12.col-sm-6.col-md-3
						+pyrite-table-input(
							placeholder='Last Name...'
							id='lastname'
							icon='fa fa-filter'
						)
					.col-xs-12.visible-xs.form-group

					.col-xs-12.col-sm-6.col-md-3
						+pyrite-table-input(
							placeholder='Street...'
							id='street'
							icon='fa fa-filter'
						)

			+pyrite-table(
				id='table-example'
				total='total-text'
				filter='filter-text'
			)
